doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Comfirm Notification
    body
        .container
            h1 Trang Web cần được cấp quyền để gửi thông báo
            p Hãy chấp nhận nhận thông báo từ trang này để có thể nhận những thông báo mới nhất

        script(type="module", src="/js/fcm.mjs")