doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Comfirm Notification
    body
        div(style="text-align: center;")
            button(style="background-color: green; color: #fff; padding: 10px 15px; border: none;") Quay về trang chủ
                a(href="https://fbetahou.budibase.app/app/hotrothientai") 
        script(type="module", src="/js/fcm.mjs")